/* Fondo general */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Título */
h1 {
    color: #0056b3;
    text-align: center;
    margin-top: 50px;
}

/* Botón del enlace */
a {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

a:hover {
    background-color: #0056b3;
}
